@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes float {
        0% { transform: translateY(0px); }
        50% { transform: translateY(-20px); }
        100% { transform: translateY(0px); }
    }
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }
    .animate-float-delayed {
        animation: float 6s ease-in-out 2s infinite;
    }
    .animate-float-fast {
        animation: float 4s ease-in-out infinite;
    }
}
