.git
.github
.env
.env.*
!.env.docker.example
node_modules
vendor
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/build
public/hot
public/storage
tests
.phpunit.cache
npm-debug.log
yarn-error.log
{let

